* {
    background-color:bisque;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#sketchpad  {
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    line-height: 0;
    width: 960px;
    align-items: center;
    box-sizing: content-box;   
}

.square {
    border: 1px solid silver;
    background-color: whitesmoke;
    display: inline-block;
    box-sizing: content-box;
}

.prettyButton {
    border: 1px solid aqua;
    background-color: azure;
    min-height: 44px;
    min-width: 120px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: medium;
    font-family: cursive;
}

.borderNone {
    border: none;
}

